@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  color-scheme: dark;
}

@layer base {
  @font-face {
    font-family: "SF Pro";
    src: url("../assets/fonts/sf-pro/sf-pro-display-regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Product Sans";
    src: url("../assets/fonts/product-sans/product-sans-regular.ttf") format("truetype");
  }
}

@supports (-webkit-touch-callout: none) {
  @font-face {
    font-family: "SF Pro";
    src: url("../assets/fonts/sf-pro/sf-pro-display-semibold.ttf") format("truetype");
    font-weight: bold;
  }
}

@supports (-webkit-touch-callout: none) {
  .font-bold {
    letter-spacing: -0.03em;
  }
}

@supports (-webkit-touch-callout: none) {
  .bg-fixed {
    background-attachment: scroll;
  }
}
