// custom variables

// colors
$blue:                          #1877f2;
$red:                           #eb0028;
$yellow:                        #fffc05;
$green:                         #1ed760;

// theme colors
$primary:                       $red;
$info:                          $blue;

// body
$body-bg:                       #eeeeee;
$body-secondary-bg:             #f5f5f5;
$body-tertiary-bg:              #fafafa;
$body-bg-dark:                  #151515;
$body-secondary-bg-dark:        #1c1c1c;
$body-tertiary-bg-dark:         #212121;
$body-color-dark:               #b1b1b1;

// links
$link-color-dark:               $primary;

// icon links
$icon-link-gap:                 1rem;

// typography
$font-family-sans-serif:        SF-Pro, Product-Sans, sans-serif;

// navbar
$navbar-brand-padding-y:        1rem;
$navbar-brand-margin-end:       0;
$navbar-light-color:            var(--bs-body-color);
$navbar-light-hover-color:      $primary;

// cards
$card-bg:                       var(--bs-tertiary-bg);
$card-border-width:             0;

// offcanvas
$offcanvas-horizontal-width:    300px;
$offcanvas-border-width:        0;